html,
body {
	font-family: 'Lato', sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

body * {
	box-sizing: border-box;
}

.visuals-box {
	font-size: 12px;
}

.visual-header-line {
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 2;
}

tbody {
	display: block;
	margin-top: 80px;
}

tr {
	display: block;
	border-bottom: 1px solid #e0e0e0;
	position: relative;
	width: 1250px;
	margin: 0 auto;
}

td,
th {
	width: 42px;
	display: inline-block;
	vertical-align: top;
	min-height: 40px;
}

.c4 {
	width: 168px;
}

.c5 {
	width: 290px;
}

td.separator {
	background: #e0e0e0;
	width: 1px;
	padding: 0;
	position: absolute;
	height: 100%;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	cursor: default;
}

thead th {
	text-align: left;
	padding: 10px 6px;
}

thead small {
	font-size: .75em;
	font-weight: 400;
}

tfoot tr {
	border-bottom: 0 none;
}

tfoot th {
	text-align: left;
	padding: 10px 6px;
}

td {
	padding: 6px;
}

td small{
	font-size: .75em;
}

td pre {
	font-size: .75em;
	font-family: 'Lato', sans-serif;
}

td p {
	margin: .5em 0 0;
}

td mark {
	display: inline-block;
	vertical-align: top;
	margin-right: .5em;
	border-radius: 4px;
	padding: 1px 4px;
	font-size: 9px;
}

tbody tr {
	transition: all .3s;
	opacity: 1;
	position: relative;
}

tbody tr:nth-child(2n) {
	background: rgba(0,0,0,.05);
}

tbody tr.visual_loading {
	opacity: .5;
}

tbody tr.visual_progress {
	background: #fdc879;
}

tbody tr.visual_diverged {
	background: #FD7C79;
}

// tbody tr.visual_cdnonly {
// 	background: #CCC;
// }

tbody td.file_errorheaders {
	background: #FD7C79;
}

tbody tr::before {
	content: '';
	position: absolute;
	left: -4px;
	top: 0;
	bottom: 0;
	transition: all .2s;
	background: yellow;
	width: 4px;
	transform: scaleY(0.001);
}

tbody tr:hover::before {
	transform: scaleY(1);
}

.cell {
	white-space: nowrap;
}

.cell_pbiviz-tools {
	position: relative;
}
	
.cell_pbiviz-tools a:after {
	content: 'new api';
	font-size: .5em;
	display: inline-block;
	vertical-align: top;
	margin-top: -5px;
	margin-left: -7px;
}


.cell-cdn_pbiviz-tools small {
	font-size: .5em;
	display: inline-block;
	vertical-align: top;
	margin-top: -5px;
	margin-left: -7px;
}

.cell a {
	text-decoration: none;
	color: #000;
}

.cell a:hover {
	text-decoration: underline;
	color: #000;
}

.cell a.outdated_visual_version {
	color: red
}