html,
body {
	font-family: 'Lato', sans-serif;
}

body {
	padding: 5% 2% 10%;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	cursor: default;
}

thead {
	position: sticky;
}

thead th {
	text-align: left;
	padding: 10px 6px;
	border-bottom: 1px solid #e0e0e0;
}

td.separator {
	background: #e0e0e0;
	padding: 1px;
}


thead small {
	font-size: .5em;
	font-weight: 400;
}

tfoot th {
	text-align: left;
	padding: 10px 6px;
	border-top: 1px solid #e0e0e0;
}

td {
	padding: 6px;
}

td small{
	font-size: .5em;
}

td a {
	font-size: .75em;
}

td pre {
	font-size: .5em;
	font-family: 'Lato', sans-serif;
}

td p {
	font-size: .75em;
	margin: .5em 0 0;
}

tbody tr {
	transition: all .3s;
	opacity: 1;
}

tbody tr:nth-child(2n) {
	background: rgba(0,0,0,.05);
}

tbody tr.visual_loading {
	opacity: .5;
}

tbody tr.visual_progress {
	background: #fdc879;
}

tbody tr.visual_diverged {
	background: #FD7C79;
}

tbody td.file_errorheaders {
	background: #FD7C79;
}


tbody tr:hover {
	background: #f9e9a3;
}

.cell {
	white-space: nowrap;
}

.cell_pbiviz-tools {
	position: relative;
}
	
.cell_pbiviz-tools a:after {
	content: 'new api';
	font-size: .2em;
	display: inline-block;
	vertical-align: top;
	margin-top: -4px;
}

.cell a {
	font-size: .75em;
	text-decoration: none;
	color: #000;
}

.cell a:hover {
	text-decoration: underline;
	color: #000;
}